@(uForm: Form[User])

@import helper._


@helper.form(action = routes.UserController.updateUser(),'class -> ".form-horizontal") {

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="addReviewModelLabel">User #@uForm("username").value </h3>
</div>

	<div class="b-unit row-fluid">
		
		<div class="span6">
		@inputText(uForm("name"),'_label -> "Name ")
		
		@inputText(uForm("alias"),'_label -> "Avtar ")
		@inputPassword(uForm("password"),'_label -> "Password ")
		
		@inputText(uForm("supervisor"),'_label -> "Supervisor ")
		
		</div>
		
		<div class="span4" >

		@inputText(uForm("primaryEmail"),'_label -> "Client Email ")
		@inputText(uForm("alternateEmail"),'_label -> "Official Email ")
		@inputText(uForm("personalEmail"),'_label -> "Personal Email ")
		@inputText(uForm("username"),'_label -> "id ")
			
		
		
		</div>
		
		
	
		
			
	 </div>

 <div class="modal-footer">
 	
<input type="submit" value="Save" class="btn btn-inverse"/>
<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>

</div>	 


	}