<html>
    <head>
        <title>No IE</title>
       
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>

    </head>

<body>
  

  <div class="container main-content">

      <div class="center hero-unit">
      <h2> Internet Explorer is not Supported because I don't like it! </h2>
    </div>
     
    </div>


   </body> 