@(rForm: Form[ReviewDetail]) 

@import helper.twitterBootstrap._
@import helper._

@main("Code Review") {

 <div class="center>
	<div class="row">
 <fieldset>
 
			<legend>New Entry</legend>
			

		@helper.form(action = routes.ReviewController.add,'class -> ".form-horizontal") {
		
		
		<div class="span6">
		@inputText(rForm("reviewerId"),'_label -> "Reviewer ")
		@inputText(rForm("type"),'_label -> "Review Type ")
		@inputText(rForm("assignedTo"),'_label -> "Assigned To ") 
				
		
		@inputText(rForm("severity"),'_label -> "Severity ")
		@inputText(rForm("fileName"),'_label -> "File Name ")
		@inputText(rForm("phase"),'_label -> "Review Phase ")
		</div>
		
		<div class="span4" >
		@input(rForm("summery"),'_label -> "Summary ") { (id, name, value, args) =>
		<textarea rows="2" name="@name" id="@id"@toHtmlArgs(args)></textarea>
		}
		
		
		@input(rForm("description"),'_label -> "Description ") { (id, name, value, args) =>
		<textarea rows="5" cols="100" name="@name" id="@id"@toHtmlArgs(args)></textarea>
		}
		
		<input type="submit" value="Add" class="btn btn-inverse"/>
		</div>
		
		
		}
		
		
		
	
	
	
	
	 </fieldset>
	 </div>
</div>
}
